<div style="margin:0px ">
    <table style="background-color:#f2f2f2" border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#f2f2f2">
        <tbody>
            <tr>
                <td>
                    <table style="min-width:290px;width:640px;margin:10px auto;background:#ffffff;padding:30px"
                        border="0" width="640px" cellspacing="0" cellpadding="0" align="center">
                        <tbody>
                            <tr>
                                <td style="padding:0px">
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr style="background:#0b0a0f">
                                                <td style="padding-bottom:20px">
                                                    <div><img style="display:block;margin:0px auto;max-width:350px"
                                                            src="https://ci3.googleusercontent.com/meips/ADKq_NZS2_BBzXkZjQ39ux1pMV4WhsBd0rkFVvluofvcjBcKxFmJno5pW4Ajmw5TYXln84Q-wnlJmKKVn7kSWxcbRCCznVfOjA33V3t7UPFiHo5Z3jw=s0-d-e1-ft#https://imgftbv1.fastbetter.com/1692280626405llf86w9x405.png"
                                                            alt="" width="215" border="0" class="CToWUd" data-bit="iit">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p style="border-bottom:1px solid #666666;margin:0px"></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center;padding:20px 0"><a
                                                        style="color:#ff0000;font-family:Arial,sans-serif;font-size:36px;font-weight:bold;text-decoration:none"
                                                        href="#m_-2256643883922775632_m_5415234948549831596_m_2349003289353134498_">OTP</a><br>The
                                                    OTP will be valid for 5 minutes!<br><br><%= otp %><br><br>If you do not
                                                    request this OTP, please ignore this email.<br><br>For any
                                                    assistance, feel free to contact our support team at <a
                                                        href="mailto:support@ketobalanced.com"
                                                        target="_blank">support@ketobalanced.com</a></td>
                                            </tr>
                                            <tr>
                                                <td style="color:#999999;font-family:Arial,sans-serif;padding:20px 0px">
                                                    <br>
                                                    <p dir="ltr" style="margin:0px;text-align:left"><span
                                                            style="color:#222"><span
                                                                style="font-weight:bold">Best,</span> <br>KetoBalanced
                                                            Team</span> </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-top:1px solid #666666"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>