# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted
    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Install Dependencies
      run: npm ci

    - name: Set Up Environment Variables
      run: |
        echo "PORT=9000" >> .env
        echo "HOST=http://13.203.123.47:9000" >> .env
        echo "MONGO_URI=${{ secrets.MONGO_URI }}" >> .env
        echo "SESSION_SECRET=${{ secrets.SESSION_SECRET }}" >> .env
        echo "REFRESH_SECRET=${{ secrets.REFRESH_SECRET }}" >> .env
        echo "NODE_ENV=production" >> .env

    - name: Start or Restart PM2 Process
      run: |
        pm2 describe Backend || pm2 start ecosystem.config.js
        pm2 restart Backend

    - name: Debug PM2 Processes
      run: pm2 list
