# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs
name: Node.js CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [ 20.x ]

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Install Dependencies
      run: npm ci
      working-directory: crmmasterBackend

    - name: Set Up Environment Variables
      run: |
        touch crmmasterBackend/.env
        echo "${{ secrets.PROD }}" > crmmasterBackend/.env

    - name: Start or Restart PM2 Process
      run: |
        pm2 describe Backend || pm2 start server/app.js --name Backend
        pm2 restart Backend

    - name: Debug PM2 Processes
      run: pm2 list

   
